@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom dark scrollbar */ 
::-webkit-scrollbar {
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 10px;
}
/* in index.css or global.css */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
